
h2, h3 {
    text-align: center;
    color: rgba(0, 0, 0, 0.685);   
    font-variant: small-caps ;
}

.ava { 
    height:250px; 
    border-radius: 50px 50px 50px 50px;
    box-shadow: 10px 0px 20px 0px rgba(0, 0, 0, 1)
}

.card {
    background: rgba(7, 134, 252, 0.226); 
    border-radius: 20px 20px 20px 20px;
    padding: 10px;
}
.card div:nth-child(even) {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 5px;
}
.card div:nth-child(odd) {
    font-size: 16px;
}

.flex-card {
    display:  flex;
    justify-content: center; 
}
.list-sourse{
   list-style-type: none;
}

.list-sourse a{
    padding-right: 60px;
    padding-left: 60px;
    color: blue;
    font-weight: 500;
    text-decoration: none;
}

.list-sourse a:hover  {
    color: red;
    font-weight:900 ;
    cursor:pointer;      
}

.list-sourse a:nth-child(4)::before  {
    content: "Мой номер телефона: \A  +7-(913)-765-93-01";
    white-space: pre; 
       
}

.list-sourse a:nth-child(4):hover:before  {
    content: "Сохранить в буфер \A  +7-(913)-765-93-01";
    white-space: pre;     
}

.list-sourse a:nth-child(4):active:before  {
    color: green;
    font-weight:900 ;
    content: "Номер телефона был \A скопираван в буфер обмена!";
    white-space: pre;         
    
}



@media (max-width: 850px) {
    
    .list-sourse{
        flex-direction: column;
        text-align: center;
    }

    .list-sourse a:nth-child(1)::before {
        color: black;
        font-weight: 400 ;
        content: "1)";
        font-size: 18px;
    }

    .list-sourse a:nth-child(1)::after {
        color: rgb(78, 74, 74);
        font-weight: 400 ;
        font-size: 16px;
        font-style: oblique 15deg;
        content: "( Проекты, задачи ) ";
    }

    .list-sourse a:nth-child(2)::before {
        color: black;
        font-weight: 400 ;
        content: "2)";
        font-size: 18px;
    }

    .list-sourse a:nth-child(2)::after {
        color: rgb(78, 74, 74);
        font-weight: 400 ;
        font-size: 16px;
        font-style: oblique 15deg;
        content: "( Приоритетный месседжер ) ";
    }


    .list-sourse a:nth-child(3)::before {
        color: black;
        font-weight: 400 ;
        content: "3)";
        font-size: 18px;
    }

    .list-sourse a:nth-child(3)::after {
        color: rgb(78, 74, 74);
        font-weight: 400 ;
        font-size: 16px;
        font-style: oblique 15deg;
        content: "( Возможный месседжер ) ";
    }
    
   
}
   